.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 47.25px;
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}
.profile__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}
.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 24.75px;
}
.profile__button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  background-color: black;
  border: #fff 2px solid;
  color: #fff;
  padding: 0;
  font-size: 44px;
  font-weight: 100;
  line-height: 0px;
}
.profile__button:hover {
  border: #545454 2px solid;
  color: #545454;
}

.profile__edit {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  background-image: url(../images/Edit_Button.png);
  background-color: #000;
  border-color: #fff;
}
.profile__edit:hover {
  background-color: #545454;
}
@media screen and (max-width: 900px) {
  .profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 26.25px;
  }
  .profile {
    display: flex;
    margin: 0 auto;
  }
  .profile__edit {
    width: 18px;
    height: 18px;
  }
  .profile__subtitle {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 42px 19px 36px 19px;
  }
  .profile__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 36px;
  }
  .profile__button {
    width: 100%; /* the button will occupy all avalible space*/
  }
  .profile__vector {
    width: 16px;
    height: 16px;
  }
  .profile__description {
    display: flex;
    align-items: center;
    text-align: center;
    min-width: 0;
    flex-grow: 1;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
  .profile__avatar {
    margin-right: 0;
  }
}
