.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 47.25px;
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}
.profile__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}
.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 24.75px;
}
.profile__button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  background-color: black;
  border: #fff 2px solid;
  color: #fff;
  padding: 0;
}
.profile__plus-sign {
  width: 22px;
  height: 22px;
  align-items: center;
  margin: auto;
}
.profile__edit {
  width: 24px;
  height: 24px;
  margin-left: 18px;
}
